@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(170deg, #682381 40%, #fff 35%);
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;

  --Pure-white: #ffff;
  /* margin: 3em; */
}
.topsection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 9em 5em 5em 3em;
  color: var(--Pure-white);
}
.section-content {
  width: 83%;
}
.section-content > h1 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 0.9rem;
  color: var(--Pure-white);
}
.section-content > p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.12em;
  margin-bottom: 1rem;
  color: var(--Pure-white);
}
.offersdiv {
  margin-top: 3rem;
  width: 25em;
  height: 22em;
  border-radius: 0.5rem;
  padding: 1em;
  border: 2px dashed var(--Pure-white);
  position: relative;
}
.offersdiv > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offersdiv > ul > li {
  list-style: none;
  font-size: 18px;
  margin: 1rem 1rem;
}
.offersdiv > div {
  position: absolute;
  top: -1em;
  left: 1em;
  font-size: 1rem;
  font-weight: 500;
  color: red;
  padding: 0.5em 1em;
  background-color: var(--Pure-white);
}

.offersdiv > ul li:before {
  content: "⚪";
  color: var(--Pure-white);
  font-size: 10pt;
  padding-right: 1rem;
}
.Personaldetails {
  width: 20rem;
  height: 32rem;
  border-radius: 0.2em;
  top: 7em;
  right: 4em;
  color: #000000;
  background-color: var(--Pure-white);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.Inputform {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1.3em;
  position: relative;
  padding-top: 25px;
}
.Inputform > div:first-child {
  position: absolute;
  top: 0px;
  left: 0px;
}
.labelPositioningDiv {
  /* background-color: greenyellow; */
  width: 100%;
  position: relative;
}

.labelPositioningDiv > label {
  font-size: 9px;
  position: absolute;
  top: -0.6em;
  left: 1em;
  padding: 0em 0.5em;
  background-color: var(--Pure-white);
}

.labelPositioningDiv > input {
  width: 100%;
  line-height: 2.5em;
  border-radius: 0.2rem;
}

.dropdowndiv {
  border: 1px solid black;
  width: 100%;
  line-height: 2.5rem;
  border-radius: 0.2rem;
  place-items: center;
  font-size: 10px;
  padding: 0px 5px;
}
.dropdowndiv > select {
  width: 100%;
  /* font-size: 3em; */
  line-height: 2.5em;
  border-radius: 0.2rem;
  border: none;
}

.submitbtn {
  width: 100%;
  line-height: 2.5rem;
  color: var(--Pure-white);
  border: none;
  background-color: #da2128;
}

.midsection {
  display: flex;
  margin: 8rem 5rem 5rem 5rem;
}

.midsection-text-wrapper {
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.midsection-image-wrapper {
  width: 50%;
}

.midsection-header-h1 {
  margin-top: 1em;
  margin-bottom: 0.7em;
  font-size: 1.3em;
}
.midsection-header-p {
  line-height: 1.3rem;
}
.midsection-content-h3 {
  margin-top: 1em;
  margin-bottom: 0.7em;
}

.midsection-content-p {
  font-size: 0.8em;
  margin-bottom: 1em;
  line-height: 1.1rem;
}

.bottomsection {
  background-color: #f4f7fd;
  text-align: center;
}

.bottom-h2 {
  padding-top: 1.5rem;
}

.bottom-p {
  margin: 2rem 0rem;
  font-size: 0.8rem;
}
.bottom-list-ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bottom-list-ul > li > p {
  display: inline-block;
  vertical-align: super;
  margin-left: 0.2rem;
  font-weight: 400;
}
.bottom-list-ul > li > span {
  background-color: #ffff;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 1.65rem;
  margin: 10em 0em;
}

.bottom-list-ul > li {
  margin: 1.5em 0em;
}
